---
import { allPlaylists, songs } from '@/lib/data';
import Layout from '../../layouts/Layout.astro';
import MusicTable from '@/components/MusicTable.astro';
import CardPlayButton from '@/components/CardPlayButton';

const { id } = Astro.params

const playlist = allPlaylists.find(playlist => playlist.id === id);
const playlistSongs = songs.filter(song => song.albumId === playlist?.albumId);

console.log()
---

<Layout title=`${playlist?.title}: ${playlist?.artists.join(',')}`>
	<div 
		class="relative flex flex-col min-w-[450px] h-full bg-zinc-900 overflow-x-hidden no-scrollbar"
        transition:name=`playlisy ${id} box`
	>
    <div  style={{backgroundColor: playlist?.color.accent}} class='absolute bottom-0 h-full inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/60 z-[1]'/>
        <header style={{backgroundColor: playlist?.color.accent}} 
        class={`relative z-10 flex flex-row gap-8 px-6 pb-6 h-[45vh] max-h[400px] pt-5 bg-gradient-to-t from-zinc-900/60 via-zinc-900/20`}
        >
            <picture class="aspect-square w-[20%] min-w-[128px] h-auto min-h-[128px] flex-none">
                <img
                    src={playlist?.cover}
                    alt={`cover of ${playlist?.title}`}
                    class="object-cover object-center shadow-lg shadow-zinc-900 rounded-[4px]"
                    transition:name=`playlist ${playlist?.id} image`
                />
            </picture>

            <div class="flex flex-col justify-between">
                <h2 class="flex flex-1 items-end opacity-60">Playlist</h2>
                <div>
                    <h1 
                        class="text-2xl md:text-4xl lg:text-6xl font-black block"
                        transition:name=`playlist ${playlist?.id} title`
                    >
                    {playlist?.title}
                    </h1>
                </div>
                
                <div class="flex pt-4 items-end">
                    <div class="text-xs lg:text-sm font-normal opacity-60">
                        <div transition:name=`playlist ${playlist?.id} artists`>
                            <span>{playlist?.artists.join(',')}</span>
                        </div>
                        <p class="">
                            <span class="">{ `${playlistSongs.length} canciones` }</span> 3h aproximadamente
                        </p>
                    </div>
                </div>
            </div>

        </header>

        <div class="relative z-10 p-5">
            <CardPlayButton id={ playlist?.id } client:load size="large"/>            
        </div>
        
		<div class="relative px-6">
            <MusicTable songs={ playlistSongs }/>
        </div>

	</div>
</Layout>

<style>
    
</style>
